body {
    color: #555;
    font-family: sans-serif;
    width: 90%;
    margin: 35px;
    max-width: 600px;
}

h1 {
    color:black;
    text-decoration: underline;
    font-size: 20pt;
}

label {
    display: block;
    color: black;
    font-weight: bold;
}

input, select, li {
    padding: .5em;
    width: 100%;
    margin: .5em;
    margin-bottom: 2em;
}

.val-fail {
    border-color: red;
}

.error {
    margin: 0;
    padding: 0;
    color: red;
    float: right;
    margin-top: -1em;
}

.whitespace {
    height: 4em;
}

#select-box2,  {
    margin-bottom: 0;
}

li {
    background-color: #ccc;
    margin: 0;
    width: 100%;
    padding-right: 0;
}

.options :nth-child(even) {
    background-color: #999;
}

.options {
    list-style: none;
    margin-top: -1.7em;
    margin-left: -2em;
}

select {
    -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
}

.drop-arrow {
    background-image: url("form-elements-sprite.png");
    background-repeat: no-repeat;
    background-size: 420px;
    background-position-x: -325px;
    background-position-y: -75px;
    height: 27px;
    width: 33px;
    position: relative;
    left: 568px;
    top: -62px;
    border: 0;
}